* {
    font-family: 'Nunito', sans-serif;
}

body {
        background-color: #02030d;
        color: #F8EDED;
}

#message {
    color: #F8EDED;
    text-align: center;

}

h1 {
    color: #F8EDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

input { 
    text-align: center;
}

html {
    padding: 10vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: inherit;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.loginPage { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    color: #F8EDED;
}

.signupPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    color: #F8EDED;
}

/* home css */
.Home {
    width: 90vw;
    display: flex;
    flex-direction: column;

}

.watchlistWrap {
    width: 100%;
    display: flex;

    height: 100px;
}

.ticker {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21B5B5;
}

/* nav */
.mainNav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mainNav :hover {
    color: #f295de;
}

/* post css */
.postWrapper {
    background: #02034e;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.postBottom {
    display: flex;
    flex-direction: column;
}

.likeButton {
    display: flex;

}

/* post box */
.postBoxWrapper{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postBoxWrapperInner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postBox{
    width: 300px;
    height: 100px;
    background-color: #2c88b8;
    color: #f295de;
    border-radius: 15px;
}

.postButton {
    background-color: #21b5b5;
    color: #02030d;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

}