*{
    font-family: 'Nunito', sans-serif;
    background: 0 10px 60px 0 #21B5B5(71, 195, 223, 0.1);
    /* backdrop-filter: blur( 4.5px ); */
} 
 
body {
        background-color: #02030d;
        color: #F8EDED;
}

#message {
    color: #F8EDED;
    text-align: center;

}

h1 {
    color: #F8EDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Home {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

input { 
    text-align: left;
}

html {
    padding: 5vw;
}


form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: inherit;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-indent: 5px;
}

.div{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.Landing {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    color: #F8EDED;
}

.signupPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}


/* home css */
.Home {
    width: 90vw;
    display: flex;
    flex-direction: column;

}



/* nav */
.mainNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 15px;
}

.mainNav :hover {
    color: #f295de;
    font-size: 1.2rem;
}

.gradient-border {
  --borderWidth: 3px;
  background: #02030d;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f295de, #5c53fe, #21b5b5, #2c88b8, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 8s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logoutButton{
    display: flex;
    align-items: center;
}

/* watchlist */
.watchlistWrap {
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

.ticker {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 0px 20px;
    display: flex;
    box-shadow: 0 20px 50px 0 rgba( 31, 38, 135, 0.37 );
    justify-content: center;
    align-items: center;
    color: #21B5B5;
}


/* post css */
.postWrapper {
    background: #02030d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 20px 50px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 15px;
}

.postBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
}

.likeButton {
    display: flex;
    margin: 0px 20px;
}

.username {
    color: #f295de;
}

.followButton {
    margin-left: 20px;
}

/* post box */
.postBoxWrapper{
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.postBoxWrapperInner{
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

.postBox{
    width: 200px;
    background-color: #02030d;
    color: #f8eded;
    border-radius: 15px;
    border: none;
}

.postBox:focus {
    outline: none;
}

.postButton {
    background-color: inherit;
    color: #21b5b5;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 15px;
}

.noCompanyMessage{ 
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.signup-input {
    width: 140px;
    height: 70px;
    border-radius: 50px;
    margin: 0px 20px;
    display: flex;
    box-shadow: 0 20px 50px 0 rgba( 31, 38, 135, 0.37 );
    justify-content: center;
    align-items: center;
    color: #21B5B5;    
    text-align: center;
}

.signUpButton {
    display: flex;
    align-items: center;
}