*{
    font-family: 'Nunito', sans-serif;
    background: 0 10px 60px 0 #21B5B5(71, 195, 223, 0.1);
    /* backdrop-filter: blur( 4.5px ); */
} 
 
body {
        background-color: #02030d;
        color: #F8EDED;
}

#message {
    color: #F8EDED;
    text-align: center;

}

h1 {
    color: #F8EDED;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

Home {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* nav {
    display: flex;
    justify-content: center;
    align-items: center;
} */

nav {
    display: flex;
    flex-wrap: wrap;
    text-decoration-color: #02030D;
    justify-content: center;
    align-items: center;
    overflow-anchor: bottom;
    background-color: #21B5B5;  
    position: sticky;
    bottom: 0%;
    width: 100%;
  }
  
  nav a {
    float: inline-end;
    display: ruby-text-container;
    color: #2c88b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 10px;
  }
  
  nav a:hover {
    background-color: #5C53FE;
    color: black;
  }
  
  nav a.active {
    background-color: #2c88b8;
    color: #5C53FE;
  }
  
  nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  @media screen and (max-width: 600px) {
    nav.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
   nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
    @media screen and (max-width: 600px) {
    nav.responsive .icon {
      position: absolute;
      right: 0;
      bottom:0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}
input { 
    text-align: center;
}

html {
    padding: 10vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: inherit;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

.Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPage { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    color: #F8EDED;
}

.signupPage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
<<<<<<< HEAD
}}}
=======
    color: #F8EDED;
}

/* home css */
.Home {
    width: 90vw;
    display: flex;
    flex-direction: column;

}

.watchlistWrap {
    width: 100%;
    display: flex;
    height: 100px;
}

.ticker {
    padding-left: 20px;
    width: 100px;
    display: flex;
    box-shadow: 0 20px 50px 0 rgba( 31, 38, 135, 0.37 );
    justify-content: center;
    align-items: center;
    color: #21B5B5;
}

/* nav */
.mainNav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.mainNav :hover {
    color: #f295de;
}

/* post css */
.postWrapper {
    background: #02030d;
    align-items: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 20px 50px 0 rgba( 31, 38, 135, 0.37 );
}

.postBottom {
    display: flex;
    flex-direction: column;
}

.likeButton {
    display: flex;

}

/* post box */
.postBoxWrapper{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postBoxWrapperInner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.postBox{
    width: 300px;
    height: 100px;
    background-color: #2c88b8;
    color: #f295de;
    border-radius: 15px;
}

.postButton {
    background-color: #21b5b5;
    color: #02030d;
    height: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;

}
>>>>>>> 8ab0875ce008e4bbdc30af20a5a683b4daa74bd7
